{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1><strong>.:Modulo de administracion de usuarios de seguridad del sistema</strong></h1>
                <p>aqui podra administrar los diferentes usuarios que tendran al sistema</p>
                <footer>
                    <a class="btn btn-default" href="{{ path('usuarios_new') }}">Ingresar nuevo registro</a>
                </footer>
            </div>
        </div>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Aciones</th>
                </tr>
            </thead>
            <tbody>
                {% if usuarios %}
                        {% for usuario in usuarios %}
                            <tr>
                                <td><a href="{{ path('usuarios_show', { 'idusuarios': usuario.idusuarios }) }}">{{ usuario.login }}</a></td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('usuarios_show', { 'idusuarios': usuario.idusuarios }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('usuarios_edit', { 'idusuarios': usuario.idusuarios }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                {% else %}
                                 <tr >
                                     <td colspan="2"><div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign"></span> No hay regiastros en este modulo por los momentos..</div></td>
                                 </tr>
                {% endif%}
            </tbody>
        </table>
    </div>
{% endblock %}
