{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Permisologia del perfil >> <strong>{{ perfils.nombreper }}</strong>  << </h1>
            </div>
        </div>

        {{ form_start(form) }}
            <div class="form-group row">
                {{ form_widget(form) }}
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <div class="btn-group mr-2" role="group" aria-label="First group"> 
                    <input class="btn btn-primary" type="submit" value="Guardar" />
                </div>
            </div>            
            <div class="btn-group" role="group" aria-label="Basic example">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-danger" href="{{ path('perfil_index') }}">Cancelar</a>
                </div>
            </div>            
        {{ form_end(form) }}

        <div class="form-group">
            <div class="container">
                <h1>Lista de modulos asignados al perfil</h1>
            </div>
        </div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Modulos</th>
                        <th>Aciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if modulos %}
                        {% for modulo in modulos %}
                            <tr>
                                <td>{{ modulo.nommodulo }}</a></td>
                                <td>
                                    <span class="oi oi-check"></span>    
                                </td>
                                </tr>
                            {% endfor %}
                    {% else %}
                        <tr >
                        <td colspan="2"><div class="alert alert-danger" role="alert"><span class="oi oi-bell"></span> No hay regiastros en este modulo por los momentos..</div></td>
                        </tr>
                    {% endif%}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
