{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
                <div class="container">
                    <h1><strong>.:Consulta de modulos </strong></h1>
                    <p>Visualizacion de los datos de los modulos registrados en el sistema</p> 
                    <p>solo podran tener acceso a modificar la informacion los usuarios con las permisologias adecuadas</p>                   
                </div>
        </div>
        <table class="table table-bordered table-responsive">
            <tbody>
                <tr>
                    <th>Nommodulo</th>
                    <td>{{ modulo.nommodulo }}</td>
                </tr>
                <tr>
                    <th>Observacionmod</th>
                    <td>{{ modulo.observacionmod }}</td>
                </tr>
                <tr>
                    <th>Idmodulos</th>
                    <td>{{ modulo.idmodulos }}</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>
                <a class="btn btn-default" href="{{ path('modulos_index') }}">Volver</a>
            </li>
            <li>
                <a class="btn btn-primary" href="{{ path('modulos_edit', { 'idmodulos': modulo.idmodulos }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Eliminar registro">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
