{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1><strong>.:Modulo de administracion de Funcionarios</strong></h1>
                <p>aqui podra administrar la informacion basica de los funcionarios que trabajan con el sistema</p>
                <footer>
                    {% if incluir==1 %}
                        <a class="btn btn-default" href="{{ path('funcionaros_new') }}">Ingresar nuevo registro</a>
                    {% endif %}
                </footer>
            </div>
        </div>
        <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>                
                <th>Acciones</th>
            </tr>
        </thead>
            <tbody>
            {% if funcionaros %}
                {% for funcionaro in funcionaros %}
                    <tr>
                        <td><a href="{{ path('funcionaros_show', { 'idfuncionaros': funcionaro.idfuncionaros }) }}">{{ funcionaro.nombrefun }}</a></td>
                        <td>{{ funcionaro.apellidofun }}</td>
                        <td>{{ funcionaro.telefonofun }}</td>
                        <td>{{ funcionaro.correofun }}</td>                    
                        <td>
                            {% if consultar==1 %}
                                <a href="{{ path('funcionaros_show', { 'idfuncionaros': funcionaro.idfuncionaros }) }}">
                                    <span class="oi oi-eye" title="Consultar" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                            {% if modificar==1 %}
                                <a href="{{ path('funcionaros_edit', { 'idfuncionaros': funcionaro.idfuncionaros }) }}">
                                    <span class="oi oi-pencil" title="Modificar" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                                    {# if funcionaro.login #}
                                    {# <a href="{{ path('usuarios_edit', { 'idusuarios': funcionaro.idusuarios }) }}">usuario</a>#}    
                                    {# else #}
                                    {# <a href="{{ path('usuarios_new') }}">usuario</a> #}    
                                    {# endif #}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                     <tr >
                         <td colspan="5"><div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign"></span> No hay regiastros en este modulo por los momentos..</div></td>
                     </tr>
            {% endif%}
            </tbody>
        </table>
    </div>
    
{% endblock %}
