{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
                <div class="container">
                    <h1><strong>.:Consulta de funcionario </strong></h1>
                    <p>Visualizacion de los datos de los funcionarios registrados en el sistema</p> 
                    <p>solo podran tener acceso a modificar la informacion los usuarios con las permisologias adecuadas</p>                   
                </div>
        </div>
        <table class="table table-bordered table-responsive">
            <tbody>
                <tr>
                    <th>Nombrefun</th>
                    <td>{{ funcionaro.nombrefun }}</td>
                </tr>
                <tr>
                    <th>Apellidofun</th>
                    <td>{{ funcionaro.apellidofun }}</td>
                </tr>
                <tr>
                    <th>Telefonofun</th>
                    <td>{{ funcionaro.telefonofun }}</td>
                </tr>
                <tr>
                    <th>Correofun</th>
                    <td>{{ funcionaro.correofun }}</td>
                </tr>
                <tr>
                    <th>Idfuncionaros</th>
                    <td>{{ funcionaro.idfuncionaros }}</td>
                </tr>
            </tbody>
        </table>
        {% if usuarios%}
            {% for usuario in usuarios %}
                <table class="table table-bordered table-responsive">
                    <tbody>
                        <tr>
                            <th>Usuario</th>
                            <td>{{ usuario.login }}</td>
                        </tr>
                    </tbody>
                </table> 
                <div class="btn-group" role="group" aria-label="Third group">
                    <a class="btn btn-secondary" href="{{ path('usuarios_edit', { 'idusuarios': usuario.idusuarios }) }}"><span class="oi oi-person" title="Modificar" aria-hidden="true"></span> Modificar usuario</a>
                </div>
            {% endfor %}
        {% else %}
            {% for usuario in usuarios %}
                <div class="btn-group" role="group" aria-label="Third group">              
                    <a class="btn btn-secondary" href="{{ path('usuarios_new', { 'idusuarios': usuario.idusuarios }) }}"><span class="oi oi-person" title="Modificar" aria-hidden="true"></span> Crearle un usuario</a>
                </div>
            {% endfor %}
        {% endif %} 
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group mr-2" role="group" aria-label="First group">               
                <a class="btn btn-secondary" href="{{ path('funcionaros_index') }}"><span class="oi oi-arrow-left" title="Modificar" aria-hidden="true"></span> Volver</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">               
                <a class="btn btn-secondary" href="{{ path('funcionaros_edit', { 'idfuncionaros': funcionaro.idfuncionaros }) }}"><span class="oi oi-pencil" title="Modificar" aria-hidden="true"></span> Editar</a>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">   
                {{ form_start(delete_form) }}
                    <!--input class="btn btn-secondary" type="submit" value="Eliminar registro"-->
                    <button type="submit" class="btn btn-secondary"><span class="oi oi-trash" title="Modificar" aria-hidden="true"></span> Eliminar</button>
                {{ form_end(delete_form) }}
            </div> 
        </div>
    </div>
{% endblock %}
