{% extends 'base.html.twig' %}

{% block body %}
    <h1>Funcionaro</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombrefun</th>
                <td>{{ funcionaro.nombrefun }}</td>
            </tr>
            <tr>
                <th>Apellidofun</th>
                <td>{{ funcionaro.apellidofun }}</td>
            </tr>
            <tr>
                <th>Telefonofun</th>
                <td>{{ funcionaro.telefonofun }}</td>
            </tr>
            <tr>
                <th>Correofun</th>
                <td>{{ funcionaro.correofun }}</td>
            </tr>
            <tr>
                <th>Idfuncionaros</th>
                <td>{{ funcionaro.idfuncionaros }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('funcionaros_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('funcionaros_edit', { 'idfuncionaros': funcionaro.idfuncionaros }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
