{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1><strong>.:Modulo de administracion de Perfiles de seguridad del sistema</strong></h1>
                <p>aqui podra administrar los diferentes perfiles que tendran los usuarios del sistema e ingresar las permisologias de cada modulo al cual vaya a tener acceso el usuario</p>
            </div>
        </div>
        <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Nombre del perfil</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if perfils %}
                        {% for perfil in perfils %}
                            <tr>
                                <td><a href="{{ path('perfil_show', { 'idperfil': perfil.idperfil }) }}">{{ perfil.nombreper }}</a></td>
                                <td>
                                    <a href="{{ path('perfil_show', { 'idperfil': perfil.idperfil }) }}">
                                        <span class="oi oi-eye" title="Consultar" aria-hidden="true"></span>
                                    </a>
                                    <a href="{{ path('perfil_edit', { 'idperfil': perfil.idperfil }) }}">
                                        <span class="oi oi-pencil" title="Modificar" aria-hidden="true"></span>
                                    </a>
                                    <a href="{{ path('permisologia_new',{ 'idperfil': perfil.idperfil }) }}">
                                        <span class="oi oi-shield" title="Permisologia" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                         <tr >
                             <td colspan="2"><div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign"></span> No hay regiastros en este modulo por los momentos..</div></td>
                         </tr>
                    {% endif%}
                </tbody>
        </table>
{% endblock %}
