{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
                <div class="container">
                    <h1><strong>.:Consulta de perfiles </strong></h1>
                    <p>Visualizacion de los datos del perfil registrado en el sistema</p> 
                    <p>solo podran tener acceso a modificar la informacion los usuarios con las permisologias adecuadas</p>                   
                </div>
        </div>
    <table class="table table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Nombreper</th>
                <td>{{ perfil.nombreper }}</td>
            </tr>
            <tr>
                <th>Idperfil</th>
                <td>{{ perfil.idperfil }}</td>
            </tr>
        </tbody>
    </table>
    
    <ul>
        <!--li>
            <a class="btn btn-default" href="{{ path('permisologia_new',{ 'idperfil': perfil.idperfil }) }}">Permisologia</a>
        </li-->
        <li>
            <a class="btn btn-default" href="{{ path('perfil_index') }}">Volver</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('perfil_edit', { 'idperfil': perfil.idperfil }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar registro">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
